#klarna-checkout-widget {
	float: left;
	width: 40%;
}
.klarna_checkout {
	float: right;
	width: 55%;
}

#klarna-checkout-widget table {
	table-layout: fixed;
	border: none;
}
.kco-column-product {
	width: 40%;
}
.kco-column-price {
	width: 20%;
}
.kco-column-quantity {
	width: 20%;
}
.kco-column-total {
	width: 20%;
}
.kco-culumn-desc {
	width: 80%;
}
.kco-column-number {
	width: 20%;
}

#klarna-checkout-widget input[type=number] {
	display: block;
	max-width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	text-align: center;
}

.kco-leftalign {
	text-align: left;
}
.kco-centeralign {
	text-align: center;
}
.kco-rightalign {
	text-align: right;
}
.kco-bold {
	font-weight: bold;
}

#klarna-checkout-widget {
}
#klarna-checkout-widget td,
#klarna-checkout-widget th {
	font-size: 11px;
	padding: 5px;
	border: none;
}
