[contentEditable=true]{
  border:1px solid grey;  
}

[contentEditable=true]:empty:not(:focus):before{
  content:attr(data-ph);
  color:grey;
  font-style:italic;
}

#pno_getadress {
	width:150px; 
	padding: 2px 5px 2px;
	margin: 0 2px 0 2px;
	box-sizing: border-box; 
	border-radius: 3px; 
	border:1px solid #cccccc;
	display: inline-block;
}

h4.klarna-select-address-title {
	margin: 10px 0;
	margin: 1.1rem 0 !important;
}
.get-address-box input[type="radio"] {
	float: none;
}

.get-address-box label {
	margin-right: 7px;
}

.get-address-button {
	display: inline-block;
	margin: 5px 5px 5px 0;
	padding: 2px 5px 2px;
	border: 1px solid #ccc;
	color: #444;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	position: relative;
	font-size: 1em;
	font-family: inherit;
	overflow: visible;
	text-shadow: 0 1px 0 rgba(255,255,255,0.9);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #237fd7;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#e5e5e5));
	background-image: -webkit-linear-gradient(top, #fefefe, #e5e5e5);
	background-image: -moz-linear-gradient(top, #fefefe, #e5e5e5);
	background-image: -ms-linear-gradient(top, #fefefe, #e5e5e5);
	background-image: -o-linear-gradient(top, #fefefe, #e5e5e5);
	background-image: linear-gradient(top, #fefefe, #e5e5e5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fefefe', EndColorStr='#e5e5e5');
	-webkit-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, inset 0 0 0 1px rgba(255,255,255,0.6), 0 1px 2px hsla(0, 0%, 0%, .1) /*Shadow*/;
	-moz-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, inset 0 0 0 1px rgba(255,255,255,0.6), 0 1px 2px hsla(0, 0%, 0%, .1) /*Shadow*/;
	box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, inset 0 0 0 1px rgba(255,255,255,0.6), 0 1px 2px hsla(0, 0%, 0%, .1) /*Shadow*/;
	-webkit-transition: all ease-in-out .2s;
	-moz-transition: all ease-in-out .2s;
}

.get-address-button:hover {
	text-decoration: none !important;
	color:#222;
	border-color:#9ebac3;
	background: -webkit-gradient(
					linear,
					left top,
					left bottom,
					color-stop(.2, #fefefe),
					color-stop(1, #f1f1f1)
				);
	background: -moz-linear-gradient(
					center top,
					#fefefe 20%,
					#f1f1f1 100%
				);
	
	/*Box shadow*/
	-webkit-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, 
						inset 0 0 0 1px rgba(255,255,255,0.6), 
						0 1px 6px #acd8e9 /*Shadow*/;
	-moz-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, 
					inset 0 0 0 1px rgba(255,255,255,0.6), 
					0 1px 6px #acd8e9 /*Shadow*/;
	box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, 
				inset 0 0 0 1px rgba(255,255,255,0.6), 
				0 1px 6px #acd8e9 /*Shadow*/;
}
#klarna_invo_pno,
#klarna_pno,
#klarna_campaign_pno {
	width: 75%;
}